.newSideBaarMainu {
  display: none;
}
.newContainer {
  width: 5%;
  height: 100vh;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  position: fixed;
}
.newHideYoutube {
  display: none;
}
@media only screen and (max-width: 800px) {
  .topHideSideNavigation {
    width: 100%;
    height: auto;
    border-bottom: 1px solid gray;
    padding: 15px 0px;
  }
  .topHideSideNavigation h4 {
    font-size: 15px;
    font-weight: bolder;
    color: gray;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  .newHideYoutube {
    width: 55%;
    height: 8vh;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #212121;
  }
  .newHideYoutube .mainuIcons {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-size: 22px;
    padding-left: 22px;
    cursor: pointer;
  }

  .newHideYoutube .mainuLogo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: red;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding-left: 4px;
  }
  .newHideYoutube .mainuLogo p {
    font-size: 10px;
    color: white;
    padding-left: 5px;
    position: relative;
    right: 0px;
    top: -8px;
  }
  .newSideBaarMainu {
    display: flex;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 55%;
    height: 103vh;
    min-height: 80px;
    background-color: #212121;
    color: wheat;
    animation: coolAnimation 0.5s;
    overflow-x: scroll;
    z-index: 1;
    position: fixed;
    top: -60px;
    left: 0px;
    margin-top: 7vh;
  }
  @keyframes coolAnimation {
    from {
      width: 0%;
    }
    to {
      width: 55%;
    }
  }
  .newContainer {
    display: none;
  }
  .HideNavigation {
    margin-top: 8vh;
    width: 100%;
    height: auto;
  }
}
