.mainVideosContainer {
  width: 100%;
  height: auto;
  background-color: #181818;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 7vh;
}

.YoutubeVideosList {
  flex: 1;
  flex-basis: 250px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2px 10px;
  background-color: transparent;
  object-fit: cover;
}

.VideoContainer {
  width: 100%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
.thumbnail {
  width: 100%;
  height: 50%;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.youtubeVideoInfo {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profilePic {
  width: 20%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 35px;
}
.profilePic div {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: black;
  margin-top: 5px;
  cursor: pointer;
}
.profilePic div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.videoTitle {
  width: 80%;
  height: 100%;

  background-color: transparent;
}
.topVideoTitle {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  /* background-color: red; */
}
.videoTitle .topVideoTitle h1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
}
.videoTitle p {
  font-size: 12px;
  padding-top: 10px;
  color: lightgray;
  cursor: pointer;
}
.videoTitle p:hover {
  color: white;
  font-weight: 500;
}
.ButtomVideoTItle {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: start;
}

.ButtomVideoTItle .views {
  font-size: 11px;
  cursor: pointer;
}
.ButtomVideoTItle .uploadTime {
  font-size: 11px;
  padding-left: 10px;
}
@media only screen and (max-width: 800px) {
  .YoutubeVideosList {
    margin-top: 13px;
  }
}
